:root {
  --SLATE: #434455;
  --IRIS: #4d5ae5;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE: #2e2f42;
  --OCEAN: #404bbf;
  --CORNFLOWER: #e7e9fc;
  --WHITE: #ffffff;
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.bodyy {
  font-family: var(--text-font-family);
  color: var(--SLATE);
  background-color: var(--WHITE);
}

.header {
  border-bottom: 1px solid #e7e9fc;
  background: var(--WHITE);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 76px;
}
.hero-address {
  display: flex;
  gap: 40px;
  color: var(--SLATE);
}
.phoneemail-address {
  color: var(--SLATE);
  display: flex;
  align-items: center;
}
.phoneemail {
  color: var(--SLATE);
}
.hero-sectionone {
  padding: 188px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-sectionbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.hero-botton {
  padding: 16px 32px;
}

/* Logo */
.logo {
  font-family: var(--logo-font-family);
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--WHITE);
}

.list {
  text-decoration: none;
}

.span {
  color: #2e2f42;
}
/* Hero section */
.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0, 32px;
  text-decoration: none;
  color: #2e2f42;
  display: flex;
  gap: 40px;
}

.phoneemail:hover,
.phoneemail:focus {
  color: var(--OCEAN);
  text-decoration: none;
}

.adress {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  display: flex;
  gap: 40px;
}

/* Section1 */
.section-one {
  background-color: var(--NAVY-BLUE);
}

.sectionn-one {
  list-style: none;
}

.title {
  color: var(--WHITE);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  background-color: var(--NAVY-BLUE);
  max-width: 496px;
}

.button-service {
  font-family: var(--text-font-family);
  background-color: var(--IRIS);
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  text-align: center;
  cursor: pointer;
}

.button-service:hover,
.button-service:focus {
  background-color: var(--OCEAN);
}

.address-port {
  font-style: normal;
}
/* Section2 */
.vissualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.psubtitle-section {
  flex-direction: column;
  gap: 8px;
  width: 264px;
  justify-content: center;
  display: inline;
}
.titlesection {
  display: flex;
  gap: 24px;
}

.psubtitle {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.section {
  color: var(--SLATE);
  font-family: var(--text-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Section3 */
.subtitle {
  color: var(--NAVY-BLUE);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  background-color: var(--WHITE);
}
.images-calc-phonee {
  display: inline;
  flex-direction: column;
  align-items: flex-start;
}
.images-calc-phone {
  flex-direction: column;
}
/* Section4 */
.section-four {
  background-color: var(--CLOUD);
}

.subtitle-two {
  color: var(--NAVY-BLUE);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  background-color: var(--CLOUD);
}

.images-section {
  background-color: #ffffff;
}

.teamp {
  background-color: #ffffff;
}

.name-person {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: var(--WHITE, #fff);
}

.footer {
  font-family: var(--logo-font-family);
  color: var(--IRIS);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--NAVY-BLUE);
  text-decoration: none;
}
/* Logo */
.logoo {
  color: #4d5ae5;
  text-decoration: none;
}

.spann {
  font-family: var(--logo-font-family);
  color: var(--CLOUD);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.pfooter {
  font-family: var(--text-font-family);
  font-weight: 400;
  color: var(--CLOUD);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  text-transform: none;
}

.link {
  text-decoration: none;
}

/* Portfolio */

.button {
  font-family: var(--text-font-family);
  color: var(--IRIS);
  border-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--CLOUD);
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
}

.titleimage {
  color: var(--WHITE);
}
.titleimage:hover,
.titleimage:focus {
  color: var(--WHITE);
}

.timage {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
}

.subtimage {
  color: var(--SLATE);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}

.section-list {
  list-style: none;
}
